body{
    background-color: #d084ff;
    margin: 0;
    padding: 0;
  }
  
  h1{
    font-size:30px;
    color:white;
  }
  ol{
    margin:30px 20px;
  }
  a{
    color:black;
    font-size:22px ;
  }
  
  div{
    width: 100vw;
    padding: 30px 20px;
  }
  h3{
    margin-right: 50px;
  }